body {
    font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;
}

@media screen and (max-width:1920px) and (min-width:640px) {
    html {
        font-size: 150px;
    }

    body {
        background-color: #dedede;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:580px) {
    html {
        font-size: 90px;
    }
}

@media screen and (max-width:540px) {
    html {
        font-size: 84px;
    }
}

@media screen and (max-width:480px) {
    html {
        font-size: 75px;
    }
}

@media screen and (max-width:428px) {
    html {
        font-size: 62px;
    }
}

@media screen and (max-width:414px) {
    html {
        font-size: 65px;
    }
}

@media screen and (max-width:375px) {
    html {
        font-size: 59px;
    }
}

@media screen and (max-width:360px) {
    html {
        font-size: 56px;
    }
}

@media screen and (max-width:320px) {
    html {
        font-size: 50px;
    }
}

.sandbox {
    max-width: 1080px;
}
