.home .watchword {
  display: block;
  position: absolute;
  padding: 0.6rem 0 0 1.7rem;
  top: 0;
  width: 100%;
}

.home .watchword li {
  color: white;
  font-size: 0.28rem;
  font-weight: lighter;
  line-height: 0.42rem;
}

@media screen and (max-width:1920px) and (min-width:640px) {
    .home .watchword {
        padding: 1.1rem 0 0 2.8rem;
    }

    .home .watchword li {
        font-size: 0.47rem;
        line-height: 0.705rem;
    }
}

.home nav {
    background-color: white;
    align-items: center;
    display: flex;
    height: 0.65rem;
    justify-content: space-between;
    padding: 0 1rem;
}

@media screen and (max-width:580px) {
    .home nav {
        padding: 0 0.3rem;
    }
}

.home .brand img {
    height: 0.52rem;
}

.home .brand h3 {
    font-size: 0.25rem;
    margin: -0.4rem 0 0 0.54rem;
}

.home .brand h3>small {
    display: block;
    font-size: 0.12rem;
}

.home .main-nav {
    margin: 0;
}

@media screen and (max-width:580px) {
    .home .main-nav {
        display: none;
    }
}

.menu-icon-sticky {
    display: none;
}

@media screen and (max-width:580px) {
    .home .menu-icon-sticky {
        display: inline;
    }
}