<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>安信金融</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link type="text/css" href="../static/css/reset.css" th:href="@{css/reset.css}" rel="stylesheet" />
    <link type="text/css" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css"  th:href="@{bower_components/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" />
    <link type="text/css" href="../static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" th:href="@{bower_components/bootstrap/dist/css/bootstrap-theme.min.css}" rel="stylesheet" />

    <link type="text/css" href="../static/generated_css/main.css" th:href="@{generated_css/main.css}" rel="stylesheet" />
    <link type="text/css" href="../static/generated_css/home.css" th:href="@{generated_css/home.css}" rel="stylesheet" />
    <link type="text/css" href="../static/generated_css/production.css" th:href="@{generated_css/production.css}" rel="stylesheet" />
    <link type="text/css" href="../static/generated_css/client.css" th:href="@{generated_css/client.css}" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script type="text/javascript" src="../static/js/compatibility/html5.js" th:src="@{js/compatibility/html5.js}"></script>
    <script type="text/javascript" src="../static/js/compatibility/css3-mediaqueries.js" th:src="@{js/compatibility/css3-mediaqueries.js}"></script>
    <![endif]-->
</head>
<body>
    <section class="sandbox" id="sandbox" ng-app="site" ng-controller="MainController">
        <nav docked-menu="" ng-class="{'invert': shouldInvertColor}">
            <div class="brand">
                <img id="logo" src="../static/images/logo-white.png" th:src="@{images/logo-white.png}" />
                <h3>安信金服<small>极速批贷专家</small></h3>
            </div>
            <ul class="list-inline main-nav">
                <li ng-class="{'active': channel === 'home'}"><a ui-sref="home">首页</a></li>
                <li class="disabled"><a href="#">大数据风控云</a></li>
                <li ng-class="{'active': channel === 'prod'}"><a ui-sref="production">产品</a></li>
                <li ng-class="{'active': channel === 'client'}"><a ui-sref="client">客户关系</a></li>
                <li class="disabled"><a href="#">服务体系</a></li>
                <li class="disabled"><a href="#">关于我们</a></li>
            </ul>
            <img class="menu-icon-sticky" src="../static/images/menu-icon-sticky.png" th:src="@{images/menu-icon-sticky.png}" />
        </nav>

        <div ui-view=""></div>

        <footer>Copyright @ 安信金融科技 2015 All Rights Reserved 京ICP备13031685号－2</footer>
    </section>

    <script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js" th:src="@{bower_components/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/bower_components/angular/angular.js" th:src="@{bower_components/angular/angular.js}"></script>
    <script type="text/javascript" src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/bower_components/angular-ui-router/release/angular-ui-router.min.js" th:src="@{bower_components/angular-ui-router/release/angular-ui-router.min.js}"></script>
    <script type="text/javascript" src="../static/bower_components/angular-bootstrap/ui-bootstrap.min.js" th:src="@{bower_components/angular-bootstrap/ui-bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" th:src="@{bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js}"></script>
    <script type="text/javascript" src="../static/js/common/app.js" th:src="@{js/common/app.js}"></script>
    <script type="text/javascript" src="../static/js/site/app.js" th:src="@{js/site/app.js}"></script>
    <script type="text/javascript" src="../static/js/site/controllers/home-controller.js" th:src="@{js/site/controllers/home-controller.js}"></script>
    <script type="text/javascript" src="../static/js/site/controllers/production-controller.js" th:src="@{js/site/controllers/production-controller.js}"></script>
    <script type="text/javascript" src="../static/js/site/controllers/client-controller.js" th:src="@{js/site/controllers/client-controller.js}"></script>
    <script type="text/javascript" src="../static/js/site/directives/docked-menu.js" th:src="@{js/site/directives/docked-menu.js}"></script>
</body>
</html>