.home {

  header {
    border-bottom: solid 1px #efefef;
  }

  .watchword {
    display: block;
    position: absolute;
    padding: 0.6rem 0 0 1.7rem;
    top: 0;
    width: 100%;

    li {
      color: white;
      font-size: 0.28rem;
      font-weight: lighter;
      line-height: 0.42rem;
    }
  }

  nav {
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    display: flex;
    height: 0.65rem;
    justify-content: space-between;
    padding: 0 1rem;
  }

  nav.dock-top {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
  }

  nav.float {
    background-color: white;
    position: static;
  }

  .brand {
    img {
      height: 0.52rem;
    }

    h3 {
      font-size: 0.25rem;
      margin: -0.4rem 0 0 0.54rem;

      small {
        display: block;
        font-size: 0.12rem;
      }
    }
  }

  .main-nav {
    margin: 0;

    a.disabled {
      color: #aaa;
      cursor: default;
      text-decoration: none;
    }
  }

  .menu-icon-sticky {
    display: none;
  }

  .content {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 0.4rem;
      margin: 0.45rem 0 0.3rem 0;
    }

    .articles {
      width: 6rem;

      li {
        float: left;
        padding: 0.1rem 0.15rem;

        .article-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 2.7rem;
        }

        small {
          color: #999;
          display: block;
        }
      }
    }

    .more-articles {
      border: solid 2px #213470;
      border-radius: 0.06rem;
      color: #213470;
      margin-bottom: 0.2rem;
      padding: 0.1rem 0.2rem;
    }
  }
}

@media screen and (max-width:1920px) and (min-width:640px) {
  .home {
    .watchword {
      padding: 1.1rem 0 0 2.8rem;

      li {
        font-size: 0.47rem;
        line-height: 0.705rem;
      }
    }
  }
}

@media screen and (max-width:580px) {
  .home {
    nav {
      padding: 0 0.3rem;
    }

    .main-nav {
      display: none;
    }

    .menu-icon-sticky {
      display: inline;
    }

    .content {
      .articles {
        width: 5rem;

        li {
          padding: 0.1rem 0;

          .article-title {
            width: 4.8rem;
          }
        }
      }
    }
  }
}
