.watchword {
  display: block;
  position: absolute;
  padding: 0.9rem 0 0 1.8rem;
  top: 0;
  width: 100%;

  li {
    color: white;
    font-size: 0.28rem;
    font-weight: lighter;
    line-height: 0.42rem;
  }
}

