@mixin horizontal-align-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin horizontal-align-top() {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

@mixin horizontal-space-between() {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin horizontal-space-between-on-top() {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

@mixin vertical-align-center() {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin vertical-space-between() {
  @include horizontal-space-between();
  flex-direction: column;
}

@mixin intro-medium {
  font-size: 0.25rem;
  text-align: center;
}