@import "mixin";

$icon-diameter: 1.6rem;
$progress-step-color: #90b3f7;
$progress-step-height: 0.5rem;

.service {
  .content {
    padding: 0;

    .support-system {
      position: relative;

      .core-word {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;

        h3 {
          margin-bottom: 0.3rem;
          font-size: 0.33rem;
        }

        .services {
          font-size: 0.15rem;
          text-align: center;
          width: 100%;
          padding: 0 0.3rem;
        }
      }
    }

    .operations {
      padding: 0.5rem 1.3rem;

      .icon {
        height: $icon-diameter;
        width: $icon-diameter;
        @include vertical-align-center();

        img {
          width: 0.8rem;
        }

        label {
          color: white;
          font-size: 0.16rem;
          font-weight: lighter;
          margin-top: 0.1rem;
        }
      }

      .operation {
        float: left;
        margin-left: 0.9rem;
      }

      @media screen and (max-width:580px) {
        .operation {
          margin-left: 0.3rem;
        }
      }

      @media screen and (max-width:414px) {
        .operation {
          margin-left: 0.2rem;
        }
      }

      .value-added-service {
        width: $icon-diameter;

        .icon {
          background-color: #eabe11;
        }
      }

      .management-consulting {
        width: $icon-diameter;

        .icon {
          background-color: #eb8100;
        }
      }

      .ops-marketing {
        width: $icon-diameter;

        .icon {
          background-color: #4cc9e5;
        }
      }

      @media screen and (max-width:580px) {
        .ops-marketing {
          margin-left: 1.2rem;
        }
      }

      @media screen and (max-width:414px) {
        .ops-marketing {
          margin-left: 1rem;
        }
      }

      .diagram-tip {
        margin-top: 0.2rem;
        @include vertical-space-between-on-center();

        label {
          color: #666;
          font-size: 0.14rem;
        }
      }

      .parallel {
        display: block;
        width: 2rem;

        label {
          float: left;
          width: 0.98rem;
        }
      }
    }

    .progresses {
      clear: both;
      @include horizontal-align-center();

      ul {
        padding: 0.3rem;

        .step {
          display: flex;
          float: left;
          font-size: 0.11rem;
          margin: 0.05rem 0 0.05rem 0.21rem;
          position: relative;

          label {
            background-color: $progress-step-color;
            color: white;
            height: $progress-step-height;
            margin-bottom: 0;
            padding-left: 0.35rem;
            width: 0.7rem;
            @include horizontal-align-middle-left();
          }
        }

        .step::before {
          border: $progress-step-height/2 solid transparent;
          border-left: 0.15rem solid white;
          width: 0;
          height: 0;
          position: absolute;
          content: ' '
        }

        .step::after {
          border: $progress-step-height/2 solid transparent;
          border-left: 0.15rem solid $progress-step-color;
          width: 0;
          height: 0;
          position: absolute;
          content: ' '
        }

        .step:first-child::before {
          border: 0;
        }

        .step:last-child::after {
          border: 0;
        }
      }
    }
  }
}