@import "mixin";

$active-tab-color: #58bbc0;

.team {
  .content {
    padding-top: 0;

    .nav-tabs {
      background-color: #f0f0f0;
      border-style: none;

      li {
        width: 1.5rem;
      }

      a {
        color: #666;
        font-size: 0.14rem;
        text-align: center;
      }

      @media screen and (max-width:580px) {
        a {
          font-size: 0.2rem;
        }
      }

      a:hover {
        border-style: none;
      }

      >li.active>a {
        color: $active-tab-color;
        border-style: none;
        border-top: solid 2px $active-tab-color;
      }
    }

    .tab-content {
      padding: 0 0.1rem;

      .corp-intro {
        padding: 0.2rem 0;
      }

      .idea {
        float: left;
        min-height: 1rem;
        width: 3.8rem;

        h4 {
          color: $active-tab-color;
        }
      }

      @media screen and (max-width:580px) {
        .idea {
          width: 100%;
        }
      }

      .contact {
        clear: both;
      }

      .address {
        display: flex;
      }

      .contact {
        padding-top: 0.3rem;
        @include horizontal-align-top-left();

        .qrcode {
          width: 1.6rem;
        }

        .contact-list {
          margin: 0.1rem 0 0 0.1rem;
        }
      }

      .position-icon {
        float: right;
        margin-top: -1.5rem;
        width: 1.6rem;
      }

      @media screen and (max-width:580px) {
        .position-icon {
          display: none;
        }
      }

      .partners {
        border-top: solid 1px #e5e5e5;
        margin-top: 0.3rem;
        @include vertical-align-center();

        .intro {
          padding: 0.4rem 0;
          @include intro-medium();
        }

        ul {
          width: 100%;

          .partner {
            @include brand();
          }

          .credit-ease>img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }
}
