<div class="corp-intro">
    <h2>上海安信金融信息服务有限公司</h2>
    <div>
        安信金融科技成立于2015年11月，是一家极具创业精神的互联网金融科技公司。我们致力于提供“技术驱动即融互联网＋”的解决方案。
        我们以“安信大数据风控云”为核心，促进消费金融和小微金融发展，加速普惠金融落地。
    </div>
</div>

<div class="idea">
    <h4>我们的价值观</h4>
    <ul>
        <li>坦诚沟通，鼓励争吵</li>
        <li>讲诚信 － 这是基本的标准与永远的底线</li>
    </ul>
</div>
<div class="idea">
    <h4>我们的经营理念</h4>
    <ul>
        <li>以人为本，产品与服务双驱动</li>
    </ul>
</div>
<div class="idea">
    <h4>创新精神</h4>
    <ul>
        <li>创新探索：人类进步的根本动力</li>
        <li>有理想：努力去改变世界</li>
    </ul>
</div>
<div class="idea">
    <h4>我们的管理理念</h4>
    <ul>
        <li>以人为本，尊重、爱护、自我突破</li>
        <li>生态系统：最有的组织就是自然、是艺术</li>
    </ul>
</div>

<div class="contact">
    <img class="qrcode" src="../../images/qrcode.png" />
    <ul class="contact-list">
        <li>官网：www.easefinance.com</li>
        <li>热线：400-615-6550</li>
        <li>邮箱：service@anxin.com</li>
        <li class="address">
            地址：
            <ul>
                <li>北京朝阳区大望路银河SOHO</li>
                <li>上海自由自由贸易区漳江北路甲30号楼</li>
            </ul>
        </li>
    </ul>
</div>

<img class="position-icon" src="../../images/position.png" />

<div class="partners">
    <div class="intro">合作伙伴</div>
    <ul>
        <li class="partner"><img src="../../images/brands/tongdun.png" /></li>
        <li class="partner"><img src="../../images/brands/juxinli.png" /></li>
        <li class="partner"><img src="../../images/brands/qianhaizhengxin.png" /></li>
        <li class="partner"><img src="../../images/brands/zhimaxinyong.png" /></li>
        <li class="partner credit-ease"><img src="../../images/brands/credit-ease.png" /></li>
        <li class="partner"><img src="../../images/brands/mingliang-group.png" /></li>
        <li class="partner"><img src="../../images/brands/aliyun.png" /></li>
        <li class="partner"><img src="../../images/brands/jd-finance.png" /></li>
        <li class="partner"><img src="../../images/brands/91zhengxin.png" /></li>
    </ul>
</div>