<p class="prologue">
    BOSS是一个疯子～我们可以带着自己喜欢的沙发来上班，也有可能会在房车上办公一个月；宇宙中最符合人性的工作制度，这里的人身上有光芒；
    特别有生命力的团队文化～ 待久了，人都会变好看的。
</p>
<p class="welcome">
    欢迎你来看看。
</p>

<div class="pursuit">
    <dl class="job">
        <dt>
            <img class="role-icon" src="../../images/roles/developer.png" />
        </dt>
        <dd class="job-desc">
            <h4>JAVA 工程师</h4>
            <h5 class="task-title">岗位职责：</h5>
            <ol class="task">
                <li>负责／参与技术架构的设计、重构、优化，根据业务规划及技术规划参与制定应用架构方案；</li>
                <li>负责／参与互动直播平台系统的架构设计和系统设计、详细设计、负责项目核心代码开发工作；</li>
                <li>分析系统瓶颈，解决各种疑难杂症，对系统进行性能调优；</li>
                <li>对新技术持有敏感性以及愿意致力于新技术的探索与研究。</li>
            </ol>
        </dd>
    </dl>
</div>