<div class="client">
    <header>
        <hgroup class="title-group">
            <img class="img-responsive" src="../images/client-relationship-title-background.jpg" />
            <h2 class="watchword">
                <ul>
                    <li>与客户共生，建立持续合作的良性生态</li>
                </ul>
            </h2>
        </hgroup>
    </header>

    <div class="content">
        <div class="to-industries">
            <dl class="anxin-alliance">
                <dd class="img-circle icon">
                    <img src="../images/anxin-alliance.png" />
                    <label>安信联盟</label>
                </dd>
                <dt class="diagram-tip">
                    <label>安信极速批贷联盟</label>
                    <label>安信流量交易平台</label>
                </dt>
            </dl>
            <dl class="credit-info">
                <dd class="img-circle icon">
                    <img src="../images/dollar.png" />
                    <label>极速征信</label>
                </dd>
                <dt class="diagram-tip">
                    <label>黑名单共享机制</label>
                    <label>联合反欺诈行动</label>
                    <label>安信大数据风控云</label>
                </dt>
            </dl>
        </div>
        <div class="industry-cloud">
            <jqcloud id="cloudDynamic" words="words" colors="{{colors}}" delay="10" steps="7" font-size="{from:0.09, to:0.04}"></jqcloud>
        </div>
        <div class="partners">
            <div class="intro">我们的部分客户</div>
            <ul>
                <li class="partner"><img src="../images/brands/qingdao-bank.png" /></li>
                <li class="partner"><img src="../images/brands/bohai-bank.png" /></li>
                <li class="partner"><img src="../images/brands/imobile.png" /></li>
                <li class="partner"><img src="../images/brands/touduoduo.png" /></li>
                <li class="partner"><img src="../images/brands/mingliang.png" /></li>
                <li class="partner"><img src="../images/brands/chextx.png" /></li>
                <li class="partner"><img src="../images/brands/lifan.png" /></li>
                <li class="partner"><img src="../images/brands/rocket-loan.png" /></li>
                <li class="partner"><img src="../images/brands/zhongniu.png" /></li>
                <li class="partner"><img src="../images/brands/quant-group.png" /></li>
                <li class="partner"><img src="../images/brands/91zhengxin.png" /></li>
                <li class="partner"><img src="../images/brands/58com.png" /></li>
                <li class="partner"><img src="../images/brands/hc360.png" /></li>
                <li class="partner"><img src="../images/brands/tuniu.png" /></li>
                <li class="partner"><img src="../images/brands/ecpss.png" /></li>
                <li class="partner"><img src="../images/brands/58fangdai.png" /></li>
                <li class="partner"><img src="../images/brands/zuba.png" /></li>
            </ul>
        </div>
    </div>
</div>