<div class="home">
    <header>
        <hgroup class="title-group">
            <img class="img-responsive" src="../images/home_title_background.jpg" />
            <h2 class="watchword">
                <ul>
                    <li>以大数据风控为核心</li>
                    <li>以互联网产品为落脚点</li>
                    <li>以体系化服务为竞争优势</li>
                </ul>
            </h2>
        </hgroup>
    </header>

    <div class="content">
        <h3 class="title">最新资讯</h3>
        <ul class="articles">
            <li><div class="article-title">今年减免哪些服务费？部分银行暂免信用卡超限费</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">2016年房价是否会降价？</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">北京积分落户赚取积分有妙招</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">个人贷款买房究竟要什么条件</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">2016年楼市一把火 经适房停建</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">2016房地产广告颁新规</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">2015北京宅地楼面均价同比涨</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">北京积分落户赚取积分有妙招</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">十三五开局之年要不要买房</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">2016年房价是否会降价？</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">2016幻想房价大跌不现实</div><small>第一财经频道 2015-11-19</small></li>
            <li><div class="article-title">三年内四环房价涨至20万？</div><small>第一财经频道 2015-11-19</small></li>
        </ul>
        <a class="more-articles" href="#">更多资讯</a>
    </div>
</div>