<div class="home">
    <header>
        <hgroup class="title-group">
            <img class="img-responsive" src="../images/home_title_background.jpg" />
            <h2 class="watchword">
                <ul>
                    <li>以大数据风控为核心</li>
                    <li>以互联网产品为落脚点</li>
                    <li>以体系化服务为竞争优势</li>
                </ul>
            </h2>
        </hgroup>
        <nav>
            <div class="brand">
                <img src="../images/logo.jpg" />
                <h3>安信金服<small>极速批贷专家</small></h3>
            </div>
            <ul class="list-inline main-nav">
                <li><a href="#">大数据风控云</a></li>
                <li><a href="#">产品</a></li>
                <li><a href="#">客户关系</a></li>
                <li><a href="#">服务体系</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
            <img class="menu-icon-sticky" src="../images/menu-icon-sticky.png" />
        </nav>
    </header>

    <div class="content">
        <h3 class="title">最新资讯</h3>
        <ul class="article">
            <li>第一财经聚焦BBD：大数据未来三年...<small>第一财经频道 2015-11-19</small></li>
            <li>第一财经聚焦BBD：大数据未来三年...<small>第一财经频道 2015-11-19</small></li>
            <li>第一财经聚焦BBD：大数据未来三年...<small>第一财经频道 2015-11-19</small></li>
            <li>第一财经聚焦BBD：大数据未来三年...<small>第一财经频道 2015-11-19</small></li>
        </ul>
        <a class="more-articles" href="#">更多资讯</a>
    </div>
</div>