<div class="production">
    <header>
        <hgroup class="title-group">
            <img class="img-responsive" src="../images/production-title-background.jpg" />
            <h2 class="watchword">
                <ul>
                    <li>极佳的用户体验</li>
                    <li>简单、快速、纯线上</li>
                    <li>范围广、低风险、低成本</li>
                </ul>
            </h2>
        </hgroup>
    </header>

    <div class="content">
        <div class="end2end">
            <dl class="asset-end">
                <dd class="img-circle end-outside asset-end-outside">
                    <ul class="img-circle end-inside asset-end-inside">
                        <li>极速批贷</li>
                        <li>消费分期</li>
                        <li>大数据风控</li>
                    </ul>
                </dd>
                <dt class="diagram-tip">资产端</dt>
            </dl>
            <div class="arrows">
                <div class="arrow-to-right">
                    <div class="arrow-stick"></div>
                    <img src="../images/arrow-right.png" />
                </div>
                <ul class="channels">
                    <li>微信端</li>
                    <li>网页版</li>
                    <li>APP</li>
                </ul>
                <div class="arrow-to-left">
                    <img src="../images/arrow-left.png" />
                    <div class="arrow-stick"></div>
                </div>
            </div>
            <dl class="wealth-end">
                <dd class="img-circle end-outside wealth-end-outside">
                    <ul class="img-circle end-inside wealth-end-inside">
                        <li>一键撮合</li>
                        <li>债权转让</li>
                        <li>理财平台</li>
                    </ul>
                </dd>
                <dt class="diagram-tip">财富端</dt>
            </dl>
        </div>
        <div class="flows">
            <div class="flow business-flow">
                <label>业务流</label>
                <ul>
                    <li>申请及审批系统</li>
                    <li>放贷和还款系统</li>
                    <li>催收系统</li>
                    <li>客户管理系统</li>
                    <li>业务管理系统</li>
                </ul>
            </div>
            <div class="flow business-support-flow">
                <label>业务支持流</label>
                <ul>
                    <li>营销管理系统</li>
                    <li>BI系统</li>
                    <li>财务系统</li>
                    <li>渠道管理系统</li>
                    <li>CRM系统</li>
                    <li>运营监控系统</li>
                </ul>
            </div>
        </div>
        <div class="application-scenarios">
            <ul class="intro">
                <li>从0到1，我们输出可落地的解决方案</li>
                <li>极速批贷获取优质资产，理财平台打造一体化业务闭环</li>
            </ul>
            <div class="scenarios">
                <dl class="scenario">
                    <dd><img src="../images/consumer-finance.png" /></dd>
                    <dt class="diagram-tip">消费金融</dt>
                </dl>
                <dl class="scenario">
                    <dd><img src="../images/context-finance.png" /></dd>
                    <dt class="diagram-tip">场景金融</dt>
                </dl>
                <dl class="scenario">
                    <dd><img src="../images/smaller-company-finance.png" /></dd>
                    <dt class="diagram-tip">小微金融</dt>
                </dl>
            </div>
        </div>
    </div>
</div>