<div class="service">
    <header>
        <hgroup class="title-group">
            <img class="img-responsive" src="../images/service-system-title-background.jpg" />
            <h2 class="watchword">
                <ul>
                    <li>促进消费金融繁荣</li>
                    <li>带动消费市场成长</li>
                </ul>
            </h2>
        </hgroup>
    </header>

    <div class="content">
        <div class="support-system">
            <img class="img-responsive" src="../images/support-system-background.png" />
            <div class="core-word">
                <h3>强大的支持体系</h3>
                <ul class="services">
                    <li>持续风控模型调优，终生免费系统升级</li>
                    <li>月度资产质量排检，季度经营数据报告</li>
                    <li>优化资产定价，调整产品结构，实现信贷资产生产过程的数字化管理及量化评级</li>
                </ul>
            </dl>
        </div>
    </div>
</div>