<div class="service">
    <header>
        <hgroup class="title-group">
            <img class="img-responsive" src="../images/service-system-title-background.jpg" />
            <h2 class="watchword">
                <ul>
                    <li>促进消费金融繁荣</li>
                    <li>带动消费市场成长</li>
                </ul>
            </h2>
        </hgroup>
    </header>

    <div class="content">
        <div class="support-system">
            <img class="img-responsive" src="../images/support-system-background.png" />
            <div class="core-word">
                <h3>强大的支持体系</h3>
                <ul class="services">
                    <li>持续风控模型调优，终生免费系统升级</li>
                    <li>月度资产质量排检，季度经营数据报告</li>
                    <li>优化资产定价，调整产品结构，实现信贷资产生产过程的数字化管理及量化评级</li>
                </ul>
            </div>
        </div>
        <div class="operations">
            <dl class="operation value-added-service">
                <dd class="img-circle icon">
                    <img src="../images/value-added-service.png" />
                    <label>增值服务</label>
                </dd>
                <dt class="diagram-tip">
                    <label>市场风险预警提示</label>
                    <label>安信定期研报推送</label>
                    <label>安信信息共享机制</label>
                </dt>
            </dl>
            <dl class="operation management-consulting">
                <dd class="img-circle icon">
                    <img src="../images/management-consulting.png" />
                    <label>管理资讯</label>
                </dd>
                <dt class="diagram-tip parallel">
                    <label>市场研究</label>
                    <label>产品定位</label>
                    <label>业务流程设计</label>
                    <label>组织结构搭建</label>
                    <label>薪酬体系建设</label>
                    <label>业务培训及辅导</label>
                </dt>
            </dl>
            <dl class="operation ops-marketing">
                <dd class="img-circle icon">
                    <img src="../images/ops-marketing.png" />
                    <label>运营推广</label>
                </dd>
                <dt class="diagram-tip parallel">
                    <label>文案支持</label>
                    <label>法务支持</label>
                    <label>品牌建设</label>
                    <label>运营支持</label>
                </dt>
            </dl>
        </div>
        <div class="progresses">
            <ul>
                <li class="step"><label>产品咨询</label></li>
                <li class="step"><label>需求确认</label></li>
                <li class="step"><label>原型设计</label></li>
                <li class="step"><label>交互设计</label></li>
                <li class="step"><label>程序开发</label></li>
                <li class="step"><label>系统测试</label></li>
                <li class="step"><label>环境部署</label></li>
                <li class="step"><label>项目上线</label></li>
                <li class="step"><label>后期运维</label></li>
            </ul>
        </div>
    </div>
</div>